<!DOCTYPE html>
<html>
  <head>
    <title>원주민공포만화</title>
    <% include ../parts/option %>
    <meta name="robots" content="noindex">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"> 
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
    <link href="/javascripts/dist/summernote.css" rel="stylesheet">
    <script src="/javascripts/dist/summernote.min.js"></script>
    <!-- include summernote-ko-KR -->
    <script src="/javascripts/dist/lang/summernote-ko-KR.js"></script>
    <script src="/javascripts/common.js"></script>
    <script text="text/javascript">
    </script>
  </head>
  <body>
    <% include ../parts/head %>
    <div class="jumbotron" style="margin:5% 0 0 0;">
        
    </div>
    <div class="div_body_width">

        <div class="div_main_body-onejumin">
            <div class="alert alert-dismissible alert-info text-center cursor-onejumin" onclick="location.href='/admin/menu_manage'">
                <strong>메뉴관리</strong>
            </div>
        </div>

        <div class="div_main_body-onejumin">
            <div class="alert alert-dismissible alert-success text-center cursor-onejumin" onclick="location.href='/admin/user_grade'">
                <strong>회원 관리</strong>
            </div>
        </div>
        <div class="div_main_body-onejumin">
            <div class="alert alert-dismissible alert-warning text-center cursor-onejumin" onclick="location.href='/admin/board_manage'">
                <strong>게시판 신고 관리</strong>
            </div>
        </div>
        
        <table class="table table-striped table-hover" style="table-layout: fixed">
            <tbody>
                    <tr>
                        <td>
                            <div class='div_dot-onejumin'>
                                <span>현재 접속자수: <%=visitList.c_visit%></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class='div_dot-onejumin'>
                                <span>오늘 총방문자 : <%=visitList.t_day_tot%></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class='div_dot-onejumin'>
                                <span> └ pc : <%=visitList.t_day_pc%></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class='div_dot-onejumin'>
                                <span> └ mobile : <%=visitList.t_day_mobile%></span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class='div_dot-onejumin'>
                                <span>어제 총방문자 : <%=visitList.y_day_tot%></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class='div_dot-onejumin'>
                                <span> └ pc: <%=visitList.y_day_pc%></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class='div_dot-onejumin'>
                                <span> └ mobile : <%=visitList.y_day_mobile%></span>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <% include ../parts/footer %>
  </body>
</html>
