<!DOCTYPE html>
<html>
  <head>
    <title>원주민공포만화</title>
    <% include ../parts/option %>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"> 
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
    <link href="/javascripts/dist/summernote.css" rel="stylesheet">
    <script src="/javascripts/dist/summernote.min.js"></script>
    <!-- include summernote-ko-KR -->
    <script src="/javascripts/dist/lang/summernote-ko-KR.js"></script>
    <script src="/javascripts/common.js"></script>
    <script type="text/javascript">
        // $("#star_point").rating();
        $(function(){
            $( ".star_rating a" ).click(function() {
                $(this).parent().children("a").removeClass("on");
                $(this).addClass("on").prevAll("a").addClass("on");
                var stars = $(".on").length;
                $("#star").val(Number(stars));
                return false;
            });
            $('#board_content').summernote({
                height: 300,                 
                minHeight: 300,             
                maxHeight: 1000,
                lang:'ko-KR',
                toolbar: [
                            // [groupName, [list of button]]
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                            ['font', ['strikethrough', 'superscript', 'subscript']],
                            ['fontsize', ['fontsize']],
                            ['color', ['color']],
                            ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                            ['para', ['ul', 'paragraph']],
                            ['table', ['table']],
                            ['insert', ['link', 'picture','video']],
                            ['remove', ['removeMedia']]
                        ],
                callbacks: {
                    onImageUpload: function(files) {
                        sendFile(files[0]);
                    },
                    onMediaDelete : function($target, editor, $editable) {
                        deleteFile($target[0].src);
                    }
                }
                
            });

            $('#sb_reg').click(function(){
                var boardCategoryCode               = $('#board_category_code');
                var nickName                        = $('#nick_name');
                var password                        = $('#password');
                var boardTitle                      = $('#board_title');
                var boardContent                    = $('#board_content');
                var logInfo                         = '<%= user_info %>'
                var userGrade                       = '<%= user_info !=null ? user_info.user_grade : null%>'
            
                if(!isValid(boardCategoryCode,'카테고리')){
                    return false;
                }
                if(!logInfo){
                    if(!isValid(nickName,'닉네임')){
                        return false;
                    }

                    if(!isValid(password,'비밀번호')){
                        return false;
                    }
                }

                if(!isValid(boardTitle,'게시물 제목')){
                    return false;
                }
                /*게시물 내용은 summernote이므로 공통함수 못씀*/
                if(!isValidSummerNote(boardContent,'게시물 내용')){
                    return false;
                }
                
                $('#f_edit').submit();
            })
        })

        function sendFile(file) {
            var data = new FormData();
            if(file.name != "") { 
                var extPlan = "JPG, PNG, JEPG ,GIF"; 
                if(!checkSummerNoteImg(file.name, extPlan)) { 
                    this.value = ""; 
                    return; 
                } 
            }
            data.append("file"                , file);
            data.append("sm_menu_id"          , '<%= sm_menu_id %>');
            $.ajax({
                type: "POST",
                url: "/board/up_img",
                type: 'POST',
                data: data,
                contentType: false,
                processData: false, // Don't process the files
                success: function(data) {
                    if(data.url == null){
                        alert("10MB 이하의 파일만 첨부가능합니다.");
                    }else{
                        $('#board_content').summernote("insertImage", data.url);
                    }   
                }
            });
        }
        function deleteFile(filePath) {

            var json_obj = {
                k_filePath : filePath
            }
            var parma_obj = JSON.stringify(json_obj);
            $.ajax({
                type:"post",
                data : parma_obj,
                url:"/board/del_img ",
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                async:false,
                success : function(data) {
                },
                error : function(e) {
                    alert('이미지삭제 error')
                }
            });
        }
    </script>
  </head>
  <body>
    <% include ../parts/head %>
    <% include ../parts/carousel %>
    <div class="div_body_width">
        <% include ../parts/menu %>
        <form class="form-horizontal" id='f_edit' action="/board/edit" method="post">
            <input type="hidden" name='sm_menu_id' value='<%= sm_menu_id %>' > 
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-1">
                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">카테고리</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="board_category_code" name='board_category_code'>
                                <option value=''>선택</option>
                                <% categoryList.forEach(function(e){ %>
                                    <% if(categoryList.length == 1){%>
                                    <option value='<%= e.board_category_code %>' selected='selected'><%= e.board_category_name %></option>
                                    <% } else {%>
                                    <option value='<%= e.board_category_code %>'><%= e.board_category_name %></option>
                                    <% } %>
                                <% }) %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
<% if(!user_info){%>
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-1">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">닉네임</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="nick_name" name='nick_name' maxlength="10">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9 col-lg-offset-1">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">비밀번호</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="password" name='board_password' maxlength="12">
                            </div>
                        </div>
                    </div>
                </div>
<% } %>
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-1">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">제목</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="board_title" name='board_title' maxlength="65">
                            </div>
                        </div>
                    </div>
                </div>
<% if(star_yn == 'Y'){%>
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-1">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">별점</label>
                            <div class="col-lg-10">
                                <p class="star_rating">
                                    <a href="#" class="on">★</a>
                                    <a href="#" class="on">★</a>
                                    <a href="#" class="on">★</a>
                                    <a href="#">★</a>
                                    <a href="#">★</a>
                                    <input type="hidden" id="star" name="star" value="3">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
<% } %>
                <div class="row" style="margin-top:20px;">
                    <div class="col-lg-9 col-lg-offset-1">
                        <div class="form-group">
                            <textarea id="board_content" name="board_content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-right div_board_btn">
                    <a href="/board/list?sm_menu_id=<%= sm_menu_id %>" class="btn btn btn-danger">취소</a>
                    <a id='sb_reg' class="btn btn-primary">작성</a>
                </div>
            </div>
        </form>
    </div>
    <% include ../parts/footer %>
  </body>
</html>
