<!DOCTYPE html>
<html>
  <head>
    <title>원주민공포만화</title>
    <% include ../parts/option %>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"> 
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
    <link href="/javascripts/dist/summernote.css" rel="stylesheet">
    <script src="/javascripts/dist/summernote.min.js"></script>
    <!-- include summernote-ko-KR -->
    <script src="/javascripts/dist/lang/summernote-ko-KR.js"></script>
    <script src="/javascripts/common.js"></script>
    <script type="text/javascript">
    $(function(){
        var errMsg = '<%=errMsg%>'
        if(errMsg.length > 0){
            alert(errMsg);
        }
        $('#search').click(function(){
            location.href = '/board/list?sm_menu_id=<%= sm_menu_id %>&search='+$('#search_val').val();
        })
        $('#search_val').keyup(function(e){
            if(e.keyCode == '13'){
                location.href = '/board/list?sm_menu_id=<%= sm_menu_id %>&search='+$('#search_val').val();
            }
        })
    })
    </script>
  </head>
  <body>
    <% include ../parts/head %>
    <% include ../parts/carousel %>
    <div class="div_body_width">
        <% include ../parts/menu %>
        <div class="pull-right">
            <div class="form-group">
                <input type="text" class="form-control-static" placeholder="검색(제목 + 내용)" name='search' value='<%=search%>' id='search_val'>
                <button type="submit" class="btn btn-default" id='search'>검색</button>
            </div>
        </div>
        
        <table class="table table-hover tb_pc-onejumin" style="table-layout: fixed">
            <colgroup>
                <col width='10%'>
                <col width='50%'>
                <col width='10%'>
                <col width='10%'>
                <col width='10%'>
                <col width='10%'>
            </colgroup>
            <thead>
                <tr>
                    <th class='text-center'>번호</th>
                    <th class='text-center'>제목</th>
                    <th class='text-center'>글쓴이</th>
                    <th class='text-center'>등록일</th>
                    <th class='text-center'>추천</th>
                    <th class='text-center'>조회</th>
                </tr>
            </thead>
            <tbody>
                <% boardnotiList.forEach(function(e){ %>
                    <tr class="active">
                        <td class='text-center'><span class="label label-danger">정보</span></td>
                        <td class='text-left' style='cursor: pointer; font-weight: bold; font-size: 15px' onclick="location.href='/board/view?sm_menu_id=<%= e.sm_menu_id %>&board_seq=<%= e.board_seq %>&sort=<%=sort%>'"><div>
                            <%= e.board_title %>
                            <% if(e.comment_cnt != 0){%>
                                <span style="color: rgb(21, 81, 164)"><span class="badge"><%=e.comment_cnt%></span></span>
                            <% } %>
                        </div></td>
                        <td class='text-center'><div class='div_dot-onejumin'><%= e.nick_name %> 
                        <% if(e.user_img != null ) {%>
                            <img src="/images/rank/<%= e.user_img %>" alt=""/> 
                        <% } %>
                        </div></td>
                        <td class='text-center'><%= e.create_date %></td>
                        <td class='text-center'><%= e.good_gbn %> - <%= e.bad_gbn %></td>
                        <td class='text-center'><%= e.board_hits %></td>
                    </tr>
                <% }) %>
                <% boardList.forEach(function(e){ %>
                    <tr>
                        <td class='text-center'><%= e.board_seq %></td>
                        <td class='text-left' style='cursor: pointer' onclick="location.href='/board/view?sm_menu_id=<%= e.sm_menu_id %>&board_seq=<%= e.board_seq %>&sort=<%=sort%>'"><div>
                            <% if(e.photo_yn == 'Y'){%>
                                <img src="/images/photo_yn.png">
                            <% } %>
                            <% if(e.video_yn == 'Y'){%>
                                <img src="/images/video_yn.png">
                            <% } %>
                            <%= e.board_title %>
                            <% if(e.comment_cnt != 0){%>
                                <span style="color: rgb(21, 81, 164)"><span class="badge"><%=e.comment_cnt%></span></span>
                            <% } %>
                        </div></td>
                        <td class='text-center'><div class='div_dot-onejumin'><%= e.nick_name %> 
                            <% if(e.user_img != null ) {%>
                            <img src="/images/rank/<%= e.user_img %>" alt=""/> 
                            <% } %>
                        </div></td>
                        <td class='text-center'><%= e.create_date %></td>
                        <td class='text-center'><%= e.good_gbn %> - <%= e.bad_gbn %></td>
                        <td class='text-center'><%= e.board_hits %></td>
                    </tr>
                <% }) %>
                <% if(boardList.length + boardnotiList.length == 0){ %>
                    <tr>
                        <td colspan='6'><div class="text-center">표시할 내용이 없습니다.</div></td>
                    </tr>
                <% }%>
            </tbody>
        </table>

        <table class="table table-striped table-hover tb_mobile-onejumin" style="table-layout: fixed">
            <tbody>
                <% boardnotiList.forEach(function(e){ %>
                    <tr class="active">
                        <td class='text-left' style='cursor: pointer;' onclick="location.href='/board/view?sm_menu_id=<%= e.sm_menu_id %>&board_seq=<%= e.board_seq %>&sort=<%=sort%>'">
                            <div class='div_dot-onejumin' style="font-weight: bold; font-size: 15px">
                                <div class="div_idx_date">
                                    <% if(e.comment_cnt != 0){%>
                                        <span style="color: rgb(21, 81, 164)"><span class="badge"><%=e.comment_cnt%></span></span>
                                    <% } %>
                                </div>
                                <span class="label label-danger">정보</span> <%= e.board_title %>
                            </div>
                            <div><%= e.nick_name %> 
                                <% if(e.user_img != null ) {%>
                                <img src="/images/rank/<%= e.user_img %>" alt=""/> 
                                <% } %>
                                | <%= e.create_date %> <span class="mobile_hit_up_down-onejumin">[ <%= e.board_hits %> / <%= e.good_gbn %> - <%= e.bad_gbn %> ]</span> </div>
                        </td>
                    </tr>
                <% }) %>
                <% boardList.forEach(function(e){ %>
                    <tr>
                        <td class='text-left' style='cursor: pointer' onclick="location.href='/board/view?sm_menu_id=<%= e.sm_menu_id %>&board_seq=<%= e.board_seq %>&sort=<%=sort%>'">
                            <div class='div_dot-onejumin'>
                                <div class="div_idx_date">
                                    <% if(e.comment_cnt != 0){%>
                                        <span style="float:right"><span class="badge"><%=e.comment_cnt%></span></span>
                                    <% } %>
                                </div>
                                <% if(e.photo_yn == 'Y'){%>
                                    <img src="/images/photo_yn.png">
                                <% } %>
                                <% if(e.video_yn == 'Y'){%>
                                    <img src="/images/video_yn.png">
                                <% } %>
                                <span><%= e.board_title %></span>
                            </div>
                            <div style="font-size:11px; margin-top: -5px"><%= e.nick_name %> 
                            <% if(e.user_img != null ) {%>
                            <img src="/images/rank/<%= e.user_img %>" alt=""/> 
                            <% } %>
                            | <%= e.create_date %> <span class="mobile_hit_up_down-onejumin">[ <%= e.board_hits %> / <%= e.good_gbn %> - <%= e.bad_gbn %> ]</span> </div>
                        </td>
                    </tr>
                <% }) %>
                <% if(boardList.length+boardnotiList.length == 0){ %>
                    <tr>
                        <td><div class="text-center">표시할 내용이 없습니다.</div></td>
                    </tr>
                <% }%>
            </tbody>
        </table>

        <div class="text-right">
            <% if(write_yn == 'Y') { %>
                <% if(sort != null && sort == 'P'){ %>
                    <a href="/board/list?sm_menu_id=<%= sm_menu_id %>" class="btn btn-outline-danger">등록일순</a>
                <% }else{ %>
                    <a href="/board/list?sm_menu_id=<%= sm_menu_id %>&sort=P" class="btn btn-outline-danger">베스트글</a>
                <% }%>
            <a href="/board/edit?sm_menu_id=<%= sm_menu_id %>" class="btn btn-primary">글쓰기</a>
            <% }else if(write_yn == 'N' && user_info !=null && user_info.user_grade == 'BRAHMAN'){ %>
            <a href="/board/edit?sm_menu_id=<%= sm_menu_id %>" class="btn btn-primary">글쓰기</a>
            <% }%>
        </div>

        <div class="text-center">
            <ul class="pagination pagination-sm">
                <li><a href='/board/list?pg=<%= pg-5 < 1 ? pg-(5+((pg-5))-1) : pg-5+(5-(pg%5==0?5:pg%5)) %>&sm_menu_id=<%= sm_menu_id %>&search=<%=search%>&sort=<%=sort%>'>&laquo;</a></li>
                <% for(var i = start-1 ; i < (start+4 > end-1 ? end-1 : start +3 ) + 1  ; i ++ ) {%>
                <li class="<%=i+1==pg?'active':''%>">
                    <% if(pg - 1 == i ){ %>
                        <a href='/board/list?pg=<%=i+1%>&sm_menu_id=<%= sm_menu_id %>&search=<%=search%>&sort=<%=sort%>'><%= i+1 %></a>
                    <% } else if(pg-1 != i){ %>
                        <a href='/board/list?pg=<%=i+1%>&sm_menu_id=<%= sm_menu_id %>&search=<%=search%>&sort=<%=sort%>'><%= i+1 %></a>
                    <% } %>
                </li>
                <% } %>
                <li><a href='/board/list?pg=<%= (pg+5 > end) ? pg+(5-((pg+5)-end)) : pg+(5-((pg%5==0?5:pg%5)-1))  %>&sm_menu_id=<%= sm_menu_id %>&search=<%=search%>&sort=<%=sort%>'>&raquo;</a></li>
            </ul>
        </div>
    </div>
    <% include ../parts/footer %>
  </body>
</html>
